<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>121145201934-7uekfbqpc4gtva8s7m126c8bs4agqa51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121145201934-7uekfbqpc4gtva8s7m126c8bs4agqa51</string>
	<key>API_KEY</key>
	<string>AIzaSyBgkFWqDLsrmCroC-p3oWILIBudwP8_cbw</string>
	<key>GCM_SENDER_ID</key>
	<string>121145201934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>emeditekapp</string>
	<key>STORAGE_BUCKET</key>
	<string>emeditekapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:121145201934:ios:a7fae7f7856b43f1</string>
	<key>DATABASE_URL</key>
	<string>https://emeditekapp.firebaseio.com</string>
	<key>BUNDLE_ID</key>
	<string>com.kyor.app</string>
</dict>
</plist>
