<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="preferExternal" package="com.xamarin.kyor" android:versionCode="1" android:versionName="1.0.1.3">
	<paths xmlns:android="http://schemas.android.com/apk/res/android">
		<external-files-path name="my_images" path="Pictures" />
		<external-files-path name="my_movies" path="Movies" />
	</paths>
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="26" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<application android:label="Kyor">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyDQMRLTWyI1v_8j7rYAH39l44LVPHdRK18" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		<meta-data android:name="com.google.android.maps.V2.API_KEY" android:value="AIzaSyDQMRLTWyI1v_8j7rYAH39l44LVPHdRK18" />

    <provider android:name="android.support.v4.content.FileProvider"
         android:authorities="${applicationId}.fileprovider"
         android:exported="false"
         android:grantUriPermissions="true">

      <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                       android:resource="@xml/filepaths"></meta-data>
    </provider>

  </application>
	<application android:label="EMSL" android:largeHeap="true" android:icon="@drawable/icon" android:hardwareAccelerated="false"></application>
	<application android:label="EMSL" android:icon="@drawable/icon">
		<receiver android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver" android:exported="false" />
		<receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:exported="true" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="EMSL" />
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="${applicationId}" />
			</intent-filter>
		</receiver>
		<meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/icon" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
	<application android:label="SelectMultiIpleImagesApp"></application>
	<!--<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyD9zlZf1myPY_q1jLuHYFdPAs_7M8yxebQ" />
  <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBf3tEmdR18S-2v0E1i1x0oqcXJ9imntT4"/>-->
</manifest>